/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/


.sidebar .social-icons a {
  padding-right: 0.75em;
}

.sidebar .social-icons a:hover {
  text-decoration: none;
}

@media (min-width: 30em) {
  width: 14%;
  margin-left: 3%;
}


/******
 * Footnotes :) 
 **/
.footnotes::before {
  display: block;
  content: "Footnotes";
  font-size: 2rem;

  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
  margin-bottom: .5rem;
 
}

/**
 * Emojis lol
 */

.emoji {
  display: inline;
  margin: auto; 
}


