<!-- This gets a single example of the short form of a post -->

{% if include.post.headerImage %}

<div style="position:relative"> 
<a href="{{ include.post.url | absolute_url }}">
    <img src="{{ 'public/blog_images/headers/' | append: include.post.headerImage | relative_url }}" style="max-height:100px; width:100%; object-fit: none;" />
    <div style="position:absolute; bottom: 8px; left: 16px;">
        <h1 class="post-title" style="background-color:white;">
            {{ include.post.title }}
        </h1>
    </div>
</a>

</div> 

{% else %} 
<h1 class="post-title">
    <a href="{{ include.post.url | absolute_url }}">
    {{ include.post.title }}
    </a>
</h1>

{% endif %} 

<span class="post-date">
    {{ include.post.date | date_to_string }}  
    | Tags: 
       {% for tag in include.post.tags %}
          <a href="{{ '/blog/tags/' | append: tag | absolute_url }}"> {{tag}} </a> ∗ 
       {% endfor %}
</span>

